.container {
  width: 90%;
  height: 10vh;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  display: flex;
}

.border-dark {
  border: 1px solid brown;
}

.flex-item-1 {
  background-color: aqua;
  flex: 0 0 100px;
}

.flex-item-2 {
  background-color: beige;
  flex: 1 0 500px;
}

.flex-item-3 {
  background-color: brown;
  flex: 0 1 1000px;
}