body {
    background-color: rgb(156,152,152);
}

.cf-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
    font-style: oblique;
}

.cf-text {
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: semi-condensed;
    font-weight: 500;
    line-height: 1.5; 
}

.courses-title {
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 600;
    color: #237762;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px red;
}

.courses-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: rgba(255,0,0,0.2);
    text-align: justify;
    text-indent: 15px;
}