body {
    background-color: grey;
}

h1 {
    color: red;
    background-color: black;
}

p, li {
    color: blue;
    background-color: aqua;
}

img {
    width: 800px;
    height: auto;
}

.aueb-logo {
    width: 800px;
}

img.aueb-logo {
    height: auto;
}

p.aueb-logo {
    color: red;
}

#auebText {
    color: green;
}

li {
    list-style-type: none;
}

ul > li {
    color: red;
}

ul strong {
    background-color: grey;
}

ul em {
    background-color: azure;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    background-color: green;
}

a:focus {
    outline: none;
    background-color: yellow;
}

a:active {
    background-color: brown;
    color: chocolate;
}