.city {
    width: 600px;
    height: auto;
}

.img-rounded {
    border-radius: 5% 10% 20%;
}

.img-circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
}

.thumbnail {
    width: 150px;
    height: auto;
    border: 2px double rgb(177, 174, 174);
}

.thumbnail:hover {
    box-shadow: 0px 0px 2px 2px rgb(55, 186, 230, 0.5);
}

.card {
    width: 400px;
    border: 1px solid black;
    box-shadow: 0 0 2px 2px rgb(126, 122, 122, 0.5);
}

.card-image {
    width: 100%;
    height: auto;
}

.card-text {
    text-align: center;
}

.london-bg {
    height: 800px;
    background-color: lightgrey;
    background-image: url(../img/london.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}